<h1>Todo List</h1>


<%= link_to 'New Todo', new_todo_path %>

<table>
  <tr>
    <th>List Item</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.listitem %></td>
      <td><%= todo.text %></td>
      <td><%= link_to 'Show', todo_path(todo) %></td>
    </tr>
  <% end %>
</table>